{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action=""> <!-- Setting it to "" means to return the POSTED information to the same route -->
            {{ form.hidden_tag() }} <!-- Prevents CSFA -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register Now</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label")}}

                    {% if form.username.errors %} <!-- A boolean that checks if any conditions were broken. Broken ones are tagged as errors-->
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }} <!--This is the display of the form entry-->
                        <small id="uniqueUsername" class="form-text text-muted">To keep it anonymous, do not use any identifying piece of information i.e name, nickname etc...</small>
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top-pt-3">
        <small class="text-muted">
            Already have an account? <a class="ml-2" href="{{ url_for('login') }}">Login</a>
        </small>
    </div>
{% endblock content %}